* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

a,
:visited,
:active,
:hover {
  text-decoration: none;
  color: inherit;
}
