.u-row-reverse {
  @include media(desk) {
    flex-direction: row-reverse !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
  @include media(tab) {
    margin-bottom: 4rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
  @include media(tab) {
    margin-bottom: 8.5rem;
  }
  @include media(desk) {
    margin-bottom: 13rem;
  }
}

.u-padding-bottom-big {
  padding-bottom: 6rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
  @include media(desk) {
    margin-top: 3.5rem;
  }
}
.u-margin-top-medium {
  margin-top: 5rem;
}

.u-margin-top-huge {
  margin-top: 10.3rem;
}

.u-align-center {
  text-align: center;
}
