.u-row-reverse {
  @include media(tab) {
    flex-direction: row-reverse !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3.4rem;

  @include media(tab) {
    margin-bottom: 8.8rem;
  }
}

.u-padding-bottom-big {
  padding-bottom: 6rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
  @include media(desk) {
    margin-top: 3.5rem;
  }
}

.u-margin-top-huge {
  margin-top: 10.3rem;
}

.u-align-center {
  text-align: center;
}
