<footer class="footer">
  <div class="icon-box">
    <a href="index.html">
      <img class="footer__logo__svg" src="images/rustica-logo.svg" alt="" />
    </a>
  </div>
  <div class="footer__flex-grid">
    <div class="footer__big-item">
      <h5 class="h5 u-margin-top-small">Rustica</h5>
      <h4 class="h4">Café & Rösterei</h4>
    </div>
    <div class="footer__table-item">
      <div class="footer__table-item-small">
        <p class="paragraph">Komm uns besuchen!</p>
        <p class="paragraph">Fraunhoferstr. 13, Kiel</p>
      </div>
      <div class="footer__table-item-small">
        <p class="paragraph">Mo – Fr 8–18 Uhr</p>
        <p class="paragraph">Sa 11–18 Uhr</p>
      </div>
    </div>

    <div class="footer__links-item-1">
      <p class="paragraph">
        <a href="contact.html" class="footer__a">Kontakt</a>
      </p>
      <p class="paragraph">
        <a href="impressum.html" class="footer__a">Impressum</a>
      </p>
      <p class="paragraph"><a href="#" class="footer__a">Datenschutz</a></p>
    </div>
    <div class="footer__links-item-2">
      <p class="paragraph"><a href="cafe.html" class="footer__a">Café</a></p>
      <p class="paragraph"><a href="#" class="footer__a">Shop</a></p>
      <p class="paragraph">
        <a href="herkunft.html" class="footer__a">Herkunft</a>
      </p>
    </div>
  </div>
</footer>
