<div class="slider">
  <div class="slider__container">
    <include
      src="product-card.html"
      locals='{"iconColour": " types__icon--white"}'
    ></include>
    <include
      src="product-card.html"
      locals='{"iconColour": " types__icon--white"}'
    ></include>
    <include
      src="product-card.html"
      locals='{"iconColour": " types__icon--white"}'
    ></include>
    <include
      src="product-card.html"
      locals='{"iconColour": " types__icon--white"}'
    ></include>
  </div>

  <div class="slider__controls">
    <button class="previous"></button>
    <button class="next"></button>
  </div>
</div>

<script src="js/image-slider.js"></script>
