<div class="navbar">
  <!-- Navbar Logo -->
  <div class="navbar__logo">
    <a href="index.html">
      <img
        class="navbar__logo__svg"
        src="images/rustica-logo.svg"
        alt="Rustica Logo"
      />
    </a>
  </div>

  <!-- Navbar Links Desktop -->
  <div class="navbar__links">
    <ul class="navbar__ul">
      <li class="navbar__li">
        <a href="cafe.html" class="navbar__a{{ activeCafe }}">das Café</a>
      </li>
      <li class="navbar__li">
        <a href="herkunft.html" class="navbar__a{{ activeHerkunft }}"
          >Herkunft</a
        >
      </li>
      <li class="navbar__li">
        <a href="shop.html" class="navbar__a{{ activeShop }}">Shop</a>
      </li>
      <li class="navbar__li">
        <button class="cart__button">
          <img
            class="cart__svg"
            src="images/shopping-cart.svg"
            alt="Warenkorb"
          />
          <span class="cart__button__counter">1</span>
        </button>
      </li>
    </ul>
  </div>

  <!-- Burger Button -->

  <div class="navbar__burger">
    <img src="images/burger-menue-white.svg" alt="" />
  </div>
  <!-- Mobil Navbar -->

  <div class="navbar__mobilnav">
    <ul class="navbar__ul">
      <li class="navbar__li">
        <a href="cafe.html" class="navbar__a">das Café</a>
      </li>
      <li class="navbar__li">
        <a href="herkunft.html" class="navbar__a">Herkunft</a>
      </li>
      <li class="navbar__li">
        <a href="shop.html" class="navbar__a">Shop</a>
      </li>
      <li class="navbar__li">
        <span class="navbar__a cart__link">Warenkorb</span>
      </li>
    </ul>
  </div>

  <!-- Close Button -->
  <div class="navbar__close">
    <img src="images/burger-close-white.svg" alt="" />
  </div>
</div>
<div id="cart"></div>
<script src="js/navbar.js"></script>
<script src="js/cart.js"></script>
<script src="js/shop.js"></script>
