<div class="navbar">
  <!-- Navbar Logo -->
  <div class="navbar__logo">
    <a href="index.html">
      <img
        class="navbar__logo__svg"
        src="images/rustica-logo.svg"
        alt="Rustica Logo"
      />
    </a>
  </div>

  <!-- Navbar Links Desktop -->
  <div class="navbar__links">
    <ul class="navbar__ul">
      <li class="navbar__li">
        <a href="cafe.html" class="navbar__a">das Café</a>
      </li>
      <li class="navbar__li">
        <a href="herkunft.html" class="navbar__a">Herkunft</a>
      </li>
      <li class="navbar__li">
        <a href="contact.html" class="navbar__a">Shop</a>
      </li>
    </ul>
  </div>

  <!-- Burger Button -->

  <div class="navbar__burger">
    <img src="images/burger-menue-white.svg" alt="" />
  </div>
  <!-- Mobil Navbar -->

  <div class="navbar__mobilnav">
    <ul class="navbar__ul">
      <li class="navbar__li">
        <a href="cafe.html" class="navbar__a">das Café</a>
      </li>
      <li class="navbar__li">
        <a href="herkunft.html" class="navbar__a">Herkunft</a>
      </li>
      <li class="navbar__li">
        <a href="contact.html" class="navbar__a">Shop</a>
      </li>
    </ul>
  </div>

  <!-- Close Button -->
  <div class="navbar__close">
    <img src="images/burger-close-white.svg" alt="" />
  </div>
</div>
<script src="js/navbar.js"></script>
