<div class="product-card">
  <div class="types__img-box u-margin-bottom-small">
    <img
      class="types__img"
      src="images/coffee-costa-rica.png"
      alt="Verpackung der Kaffeesorte Costa Rica"
    />
  </div>

  <h4 class="h4">{{ productName }}</h4>
  <p class="paragraph price">{{ productPrice }}</p>
  <div class="types__icons">
    <img
      class="types__icon{{ iconColour }}"
      src="images/icon-kaffee-bohnen.svg"
    />
    <img
      class="types__icon{{ iconColour }}"
      src="images/icon-french-press.svg"
    />
    <img
      class="types__icon{{ iconColour }}"
      src="images/icon-kaffee-schaufel.svg"
    />
  </div>
</div>
