//HEADER Mainpage

.header {
  color: $color-white;
  height: 75vh;
  position: relative;

  background: linear-gradient(
      to right,
      rgba($color-anthrazit, 0.3),
      rgba($color-anthrazit, 0.3)
    ),
    url(../images/mobile/coffee-latte-art-3-mobile.jpg);
  background-size: cover;
  background-position: center;

  @include media(tab) {
    background: linear-gradient(
        to right,
        rgba($color-anthrazit, 0.3),
        rgba($color-anthrazit, 0.3)
      ),
      url(../images/tab/coffee-latte-art-3-tab.jpg);
    background-size: cover;
    background-position: center;
  }

  @include media(desk) {
    background: linear-gradient(
        to right,
        rgba($color-anthrazit, 0.3),
        rgba($color-anthrazit, 0.3)
      ),
      url(../images/coffee-latte-art-3.jpg);
    background-size: cover;
    background-position: center;
  }

  @include media(lg-desk) {
    height: 65vh;
  }

  &__text-box {
    @include center-center;
    text-align: center;
  }
  &__link-box {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

//HEADER Subpages

.subpage__header {
  width: 100%;
  height: 50vh;

  @include media(desk) {
    height: 65vh;
  }
}

.header {
  &__cafe {
    background: linear-gradient(
        to right,
        rgba($color-anthrazit, 0.3),
        rgba($color-anthrazit, 0.3)
      ),
      url(../images/mobile/coffee-shop-mobile.jpg);
    background-size: cover;
    background-position: center;

    @include media(tab) {
      background: linear-gradient(
          to right,
          rgba($color-anthrazit, 0.3),
          rgba($color-anthrazit, 0.3)
        ),
        url(../images/tab/coffee-shop-tab.jpg);
      background-size: cover;
      background-position: center;
    }
    @include media(desk) {
      background: linear-gradient(
          to right,
          rgba($color-anthrazit, 0.3),
          rgba($color-anthrazit, 0.3)
        ),
        url(../images/coffee-shop.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  &__herkunft {
    background: linear-gradient(
        to right,
        rgba($color-anthrazit, 0.3),
        rgba($color-anthrazit, 0.3)
      ),
      url(../images/mobile/coffee-beans-mobile.jpg);
    background-size: cover;
    background-position: right;

    @include media(tab) {
      background: linear-gradient(
          to right,
          rgba($color-anthrazit, 0.3),
          rgba($color-anthrazit, 0.3)
        ),
        url(../images/tab/coffee-beans-tab.jpg);
      background-size: cover;
      background-position: right;
    }
    @include media(desk) {
      background: linear-gradient(
          to right,
          rgba($color-anthrazit, 0.3),
          rgba($color-anthrazit, 0.3)
        ),
        url(../images/coffee-beans.jpg);
      background-size: cover;
      background-position: right;
    }
  }
}
