.origin {
  height: 50vh;
  min-height: 33.2rem;
  @include default-sec-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;

  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba($color-anthrazit, 0.5),
      rgba($color-anthrazit, 0.5)
    ),
    url(../images/mobile/coffee-bags-mobile.jpg);
  background-size: cover;
  background-position: right;

  @include media(tab) {
    background-image: linear-gradient(
        to right,
        rgba($color-anthrazit, 0.5),
        rgba($color-anthrazit, 0.5)
      ),
      url(../images/tab/coffee-bags-tab.jpg);
    background-size: cover;
    background-position: right;
  }

  @include media(desk) {
    background-image: linear-gradient(
        to right,
        rgba($color-anthrazit, 0.5),
        rgba($color-anthrazit, 0.5)
      ),
      url(../images/coffee-bags.jpg);
    background-size: cover;
    background-position: right;
  }

  &__text-box {
    padding: 8.7rem 0;
    width: 24.1rem;

    @include media(lg-desk) {
      width: 30.6rem;
    }
  }

  &__link {
    color: $color-white;
    text-decoration: none;
  }
}
