.button-dark {
  &:link,
  &:visited {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $color-white;
    font-weight: 400;
    font-style: normal;
    font-size: $default-font-size;
    line-height: $default-line-height;
    padding: 1.5rem 5rem;
    border: 0.2rem solid $color-anthrazit;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #3a3734 50%, $color-anthrazit 50%);
    background-size: 300%;
    background-position: 100%;
    transition: all 0.8s;

    &:focus {
      border: 0.2rem solid $color-kraftpapier;
    }

    &:active {
      background-color: $color-kraftpapier;
    }

    &:hover {
      background-position: 0;
    }
  }
}

.button-dark__border-white {
  border: 0.2rem solid $color-white !important;
}

.true-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: $color-white;
  font-weight: 400;
  font-style: normal;
  font-size: $default-font-size;
  line-height: $default-line-height;
  padding: 1.5rem 5rem;
  border: 0.2rem solid $color-anthrazit;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #3a3734 50%, $color-anthrazit 50%);
  background-size: 300%;
  background-position: 100%;
  transition: all 0.5s;

  &:focus {
    border: 0.2rem solid $color-kraftpapier;
  }

  &:active {
    background-color: $color-kraftpapier;
  }

  &:hover {
    background-position: 0;
  }

  &--light {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $color-black;
    font-weight: 400;
    font-style: normal;
    font-size: $default-font-size;
    line-height: $default-line-height;
    padding: 1.5rem 5rem;
    border: 0.2rem solid $color-anthrazit;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #ddccb6 50%, $color-kraftpapier 50%);
    background-size: 300%;
    background-position: 100%;
    transition: all 0.5s;

    &:focus {
      border: 0.2rem solid $color-anthrazit;
    }

    &:active {
      background-color: #ddccb6;
    }

    &:hover {
      background-position: 0;
    }
  }
}

.add-to-cart__button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 102px;
  height: 38px;
  background-color: $color-white;
  border: 2px solid $color-white;
  border-radius: 5px;
  cursor: pointer;
}
