#cart {
  display: block;
  width: 100%;
  height: auto;
  background-color: $color-white;
  color: $color-black;
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  padding: 2.5rem;
  overflow: scroll;
  transform: translateX(110%);
  transition: all 0.4s ease-in;
  @include media(tab) {
    position: fixed; /* Sit on top of the page content */

    max-width: 40rem; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    right: 1rem;
    left: auto;
    bottom: 0;
    box-shadow: 0 0 1em $color-light-grey;
  }
}

.show-cart {
  transform: translateX(0) !important;
}

.cart {
  &__head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  &__button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &__counter {
      display: none;
      position: absolute;
      top: 0;
      right: -3px;
      width: 14px;
      height: 14px;
      background-color: #006d7e;
      border-radius: 100px;
      color: $color-white;
      font-size: 0.8rem;
      line-height: 1.4rem;
    }
  }
  &__svg {
    filter: invert(100%);

    &--black {
      filter: invert(0);
    }
  }

  &__close {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__div {
      text-align: right;
    }
    &__svg {
      width: 100%;
      filter: invert(100%);
    }
  }
  &__added-successfully {
    background-color: $color-kraftpapier;
    margin: 2.7rem -2.5rem;
    padding: 1.5rem 2.6rem;
  }
  &__item {
    display: grid;
    grid-template-columns: 50% calc(50%-13px) 13px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 61px;
    gap: 0px 17px;
    grid-template-areas:
      "image title title"
      "image quantity ."
      "image status ."
      "image price ."
      "image . delete"
      "hr hr hr";
  }

  &__img {
    grid-area: image;
    width: 100%;
    max-width: 20rem;
    background-color: $color-kraftpapier;
  }

  &__item-title {
    grid-area: title;
  }

  &__price {
    grid-area: price;
  }

  &__status {
    grid-area: status;
    font-weight: 700 !important;
  }

  &__quantity {
    grid-area: quantity;
  }

  &__item-delete {
    grid-area: delete;
    width: 13px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
  }
  &__hr {
    grid-area: hr;
    border: none;
    box-shadow: none;
    background-color: #e9e9e9;
    margin: 3rem 0;
  }

  &__order-overview {
    &__container {
      background-color: $color-anthrazit;
      color: $color-white;
      margin: 2.7rem -2.5rem;
      padding: 5.1rem 2.6rem;
    }
    &__table-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 2.5rem;

      & > span {
      }
    }
    &__hr {
      border: 1px solid #e9e9e9;
      box-shadow: none;

      margin: 3rem 0;
    }
  }
}
