//SECTION types

// Image-Slider für mobile Ansicht (eigene scss), ab Tablet Flex-Box.

.types {
  background-color: $color-anthrazit;
  color: $color-white;
  @include default-sec-padding;

  &__flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

// Der normale Flex-Container wird erst ab Tablet-Größe angezeigt weil vorher der Slider stattdessen zu sehen ist. (aber nur auf der index Seite daher der Selector mit der Section)
.types > .types__flex-container {
  display: none;
  @include media(desk) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
// Alle product-cards die im flex-container sind, sollen diese Eigenschaften haben, aber nicht die product-cards im Slider:

.types__flex-container > div {
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(50% - 1.5rem);
  flex-basis: calc(50% - 1.5rem);
  height: auto;
  margin: 2rem 0.75rem;

  @include media(desk) {
    max-width: calc(25% - 1.5rem);
    flex-basis: calc(25% - 1.5rem);
    width: auto;
  }
}
