.contact-div {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  flex-wrap: nowrap;

  @include media(desk) {
    flex-direction: row;
    align-items: flex-start;
  }

  &__heading {
    flex: 1 1 auto;
    max-width: 60rem;
  }
  &__formular {
    flex: 1 1 auto;
    max-width: 60rem;
  }
}

.contact-form {
  &__label {
    display: block;
    padding-top: 4rem;
  }

  &__input-line {
    display: block;

    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 3px solid $color-anthrazit;
    padding: 1.2rem 1.9rem;

    &::placeholder {
      @include roboto-400(1.4);
      color: $color-medium-grey;
      text-align: left;

      @include media(tab) {
        @include roboto-400(1.6);
      }

      @include media(lg-desk) {
        @include roboto-400(1.8);
      }
    }

    &:focus {
      background-color: $color-light-grey;
    }

    &:invalid:required {
      border: none;
      box-shadow: none;
      border-bottom: 3px solid $color-anthrazit;
      padding: 1.2rem 1.9rem;
    }
  }

  &__input-area {
    font-family: inherit;
    display: block;
    @include roboto-400(1.4);
    padding: 1.2rem 1.9rem;
    width: 100%;
    height: 190px;
    border: none;
    border-bottom: 3px solid $color-anthrazit;

    @include media(tab) {
      @include roboto-400(1.6);
    }

    @include media(lg-desk) {
      @include roboto-400(1.8);
    }

    &::placeholder {
      @include roboto-400(1.4);
      color: $color-medium-grey;
      text-align: left;
      @include media(tab) {
        @include roboto-400(1.6);
      }

      @include media(lg-desk) {
        @include roboto-400(1.8);
      }
    }
  }
}

.invalid-form {
  background-color: rgba($color-red, 0.3);
  color: $color-red;

  &::placeholder {
    color: $color-red;
  }
}

// DROPDOWN MENÜ MIT JAVASCRIPT

.dropdown {
  padding-top: 4rem;
}

.dropdown-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4.7rem;
  background-color: $color-white;
  border: 2px solid $color-anthrazit;
  border-radius: 5px;

  &__text {
    color: $color-black;
    font-size: 14px;
    padding: 1.4rem 0 1.4rem 2.5rem;
    list-style: none;
  }

  &__button {
    width: 4.8rem;
    height: 100%;
    background: url("../images/arrow-white.svg"), $color-anthrazit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;

    list-style: none;
    cursor: pointer;
    padding: 1.4rem 2.5rem 1.4rem 0;
  }
}

.dropdown-content {
  margin-top: 5px;
  display: none;
  border: 2px solid $color-anthrazit;
  border-radius: 5px;
  @include roboto-400(1.4);
  padding: 1.4rem 0;

  &__li {
    list-style: none;
    cursor: pointer;

    padding: 0.75rem 2.5rem;

    &:hover {
      background-color: $color-light-grey;
    }
  }
}

.show-dropdown-content {
  display: block !important;
}

//DROPDOWN MENÜ HTML

// .dropdown {
//   padding-top: 4rem;
// }

// .select-drop {
//   background: url("../images/arrow-white.svg"), $color-anthrazit;
//   background-repeat: no-repeat;
//   background-position: right;
//   background-size: 18px;
//   appearance: none;
//   @include roboto-400(1.4);
//   color: $color-white;
//   width: 100%;
//   height: 4.7rem;
//   border-color: #1a1a1a;
//   border-width: 2px 10px 2px 10px;
//   border-style: solid;
//   border-radius: 5px;
//   padding: 1.4rem 0rem 1.4rem 1.5rem;

//   &__option {
//     background-color: $color-white;
//     color: $color-anthrazit;
//     padding: 7.5px 0;
//   }
// }

//HÜBSCHERE ATTRAPPE

// .subject {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   height: 4.7rem;
//   background-color: $color-anthrazit;

//   border: 2px solid #1a1a1a;
//   border-radius: 5px;

//   &-text {
//     @include roboto-400(1.4);
//     color: $color-white;
//     padding: 1.4rem 0 1.4rem 2.5rem;
//   }
// }

// .dropdown-button {
//   background-color: transparent;
//   cursor: pointer;
//   border: none;
//   width: 4.7rem;
// }

// .dropdown-content {
//   margin-top: 5px;
//   display: none;
//   @include roboto-400(1.4);
//   border: 2px solid #1a1a1a;
//   border-radius: 5px;
//   color: $color-anthrazit;

//   padding: 1.4rem 2.5rem;

//   & li {
//     list-style: none;
//     padding: 0.75rem 0;

//     &:focus {
//       background-color: $color-light-grey;
//     }
//   }
// }

// .show-dropdown-content {
//   display: block !important;
// }

//DATENSCHUTZ CHECK
.privacy-check {
  margin-top: 4rem;
  display: flex;
  // position: relative;

  &__text {
    height: 2rem;
    margin-left: 1.2rem;
  }

  &__checkbox {
    display: none;
  }

  &__label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border: 2px solid $color-anthrazit;
    border-radius: 3px;

    &::after {
      content: "";
      position: absolute;
      height: 16px;
      width: 16px;
      top: 5px;
      left: -5px;

      border-top: 2px solid red;
      transform: rotate(45deg);
      z-index: -50;
    }

    &::before {
      content: "";
      position: absolute;
      height: 16px;
      width: 16px;
      top: 5px;
      left: 5px;

      border-top: 2px solid red;
      transform: rotate(-45deg);
      z-index: -50;
    }
  }
}

.privacy-check__checkbox:checked ~ .privacy-check__label {
  &::after,
  &::before {
    z-index: 1;
  }
}

.invalid-checkbox {
  border: 2px solid $color-red;
  background-color: rgba($color-red, 0.3);
}
