.product-card {
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  width: 100%;
  max-width: 30rem !important;
  min-width: 14rem;
  height: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.types {
  &__img {
    width: 100%;
    height: auto;
    transition: all 0.3s;
  }

  &__img-box {
    background-color: $color-light-grey;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
      background-color: $color-kraftpapier;
      & > img {
        transform: scale(1.2);
        overflow: hidden;
      }
    }
  }

  &__icon {
    margin-top: 0.5rem;
    margin-right: 0.8rem;
    width: 1.2rem;
    height: auto;

    @include media(desk) {
      margin-top: 0.8rem;
      margin-right: 1rem;
      width: 1.7rem;
    }

    &--white {
      filter: brightness(700%) contrast(200%);
    }

    &--black {
      filter: none;
    }
  }
}
