.detail-page {
  &__flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @include media(desk) {
      flex-direction: row;
    }
  }
  &__flex-item {
    flex: 1 1 100%;
    max-width: 50rem;
    margin: 0 auto;

    @include media(desk) {
      flex: 1 1 50%;
      &:nth-child(2) {
        padding-left: 12rem;
      }
    }
  }

  &__img {
    width: 100%;
  }
  &__img-box {
    background-color: $color-kraftpapier;
  }

  &__icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  &__icon-box {
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__icon {
    height: 100%;
  }

  &__description {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    @include media(desk) {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }
}
