.text-pic {
  &__flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media(desk) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__flex-item {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    @include media(desk) {
      flex-basis: 50%;
    }
  }

  &__img-r {
    width: calc(100% - 8.6rem);
    margin-left: 8.6rem;

    @include media(desk) {
      width: calc(100% - 1rem);
      margin-left: 1rem;
    }
  }

  &__img-l {
    width: calc(100% - 8.6rem);
    margin-right: 8.6rem;

    @include media(desk) {
      width: calc(100% - 1rem);
      margin-right: 1rem;
    }
  }
  &__text-l {
    @include media(desk) {
      padding-right: 10.5rem;
    }
  }

  &__text-r {
    @include media(desk) {
      padding-left: 10.5rem;
    }
  }

  &__textonly {
    width: 100%;
    @include media(desk) {
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
