//Default font styles

@mixin roboto-900($size) {
  font-weight: 900;
  font-size: $size + rem;
  line-height: 110%;
  letter-spacing: 0;
  text-decoration: none;
}

@mixin roboto-400($size) {
  font-weight: 400;
  font-size: $size + rem;
  line-height: 130%;
  font-style: normal;
  text-decoration: none;
}

//Default section paddings

@mixin default-sec-padding {
  padding: 15.6% 6.4%;

  @include media(tab) {
    padding: 9rem 7%;
  }
  @include media(desk) {
    padding: 12.5rem 7%;
  }

  @media only screen and (min-width: 2000px) {
    padding-left: calc((100vw - 2000px) / 2);
    padding-right: calc((100vw - 2000px) / 2);
  }
}

//MEDIA QUERYS
/* 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
--> tab

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
--> desk

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
--> lg-desk

// Very large desktop devices (1920px and up)
@media (min-width: 1920px) { ... } 
--> xl-desk
*/

@mixin media($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 150px) {
      @content;
    }
  }

  @if $breakpoint == tab {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == desk {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == lg-desk {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == xl-desk {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
}
